*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
}
.nav-logo{
    width: 100%;
    background-color: white;
}
.logo{
    width: 100%;
    height: 8vh;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100px;
    height: 50px;
    /* border: 1px solid black; */
    margin: 0 50px 0 -50px;
}
.logo h3{
    font-size: 20px;
}
span{
    color: mediumvioletred;
    font-size: 35px;
}
.nav-links{
    /* border: 1px solid peru; */
    height: 10vh;
    background-color: rgb(182, 173, 173);
}
.menus{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
.menus a{
    text-decoration: none;
    color: rgba(73, 66, 66, 0.87);
    font-size: 16px;
    margin-top: 12px;
}
.menus a:hover{
    color: black;
}
.bg{
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.h2-p{
    
    /* border: 2px solid white; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h2-p h2{
    color: whitesmoke;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h2-p p{
    color: white;
    line-height: 60px;
    text-align: center;
}
#btn{
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin-left: 190px;
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 30px;
    cursor: pointer;
}
footer{
    width: 100%;
    background-color: black;
}
footer p{
    color: white;
    font-size: 12px;
    text-align: center;
}